*/ {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    width: 30px;
    height: 30px;
}
.container {
   background-color: #fff2f3;
   padding:50px;
   
}
    
.hero {
    display:flex;
    /* grid-template-columns: 50% 50%; */
    padding-right:10px;
    padding-left:10px;
   
}
nav {
    display: flex;  
    align-items: baseline;
}
.images {
    padding-left:50px;
}
.items {
    display:inline;
    word-spacing: 8px;
    font-size: 18px;
   margin: 20px 150px 10px 10px;
}
.brand {
   font-size:20px;
   margin-inline-end: 30px;;
   margin: 10px 80px 10px 150px;
   
}
.intro {
    color: #96bb7c ;
    font-size: 10px;
    margin-top: 200px;
} 
.motto {
    font-size:30px;
    
}
.log {
    color:#96bb7c;
    margin-right: 20px;
    margin-left: 200px;
    font-weight: 900;
   
}

.text {
    font-size: 25px;
    color:grey;
}  
.learn button:nth-child(2){
    background-color: #fff2f3;
    text-align: center;
    padding: 10px 35px;
    border-radius: 4px;
    color: #96bb7c;
    border: 0.5px solid grey;
    margin-top:40px;
    
    
    
} 
.button{
    background-color: #96bb7c;
    height: 50%;
    width: 100px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 4px;
    color: whitesmoke;
    margin-top: 15px;
}
button{
    background-color: #96bb7c;
    text-align: center;
    padding: 10px 35px;
    border-radius: 4px;
    color: whitesmoke;
    border: none;
    margin-top:40px;
    font-weight: 900px;
}
.length {
    margin-top: 150px;
    width:50px;
    height:5px;
}
.length1 {
    width: 50px;
    height:2px
}

.side {
    display: flex;
   margin-left: 150px;
   margin-right:150px;
    
    
}
.heading {
    font-size: 40px;
}
.line1 {
    font-size: 14px;
    font-weight: 300px;
   
}
.p1 {
    color:#96bb7c;
    font-size: 15px;
}
.class {
    display: flex;
    margin-left: 60px;
   
}
.left {
    margin-right:20px;
}
.learn1 {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 10px  wheat;
    background-color: white;
    width:50%;
    padding:40px;
    box-sizing: content-box;
    height: 50%;
    margin-top: 100px;
    margin-left:30px;
    
   

   
}  
.cert {
   font-size: 16px;
   font-weight:bold;


}
.info {
    font-size: 14px; 
   
}

.grade1 {
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0.5px 10px wheat;
    width:50%;
    padding:40px;
    height: 50%;
    margin-top: 100px;
   margin-right:30px;

    
    
} 
.container3 {
    display: flex;
    padding: 50px;
    margin-top: 150px;
    margin-left: 150px;
}
.girl {
   /* width: 520px;
   height: 549px; */
}

.goals {
   border: 1px solid blue; 
   border:none;
  margin-top: 200px;
  margin-left:30px;
  padding:30px;
}
.container4 {
   border:1px solid white;
   /* display:flex;
   flex-direction: row; */
   justify-content: last baseline;
    align-items: center;
}   
.container6 {
    margin-left:150px;
    margin-right: 150px;
    margin-top: 100px;
}
.container4 {
    display: flex;
    margin-top: 90px;
}
.advice {
    color:#96bb7c;
}
.pens {
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    align-items: center;
    margin-right: 50px;
    margin-top: 70px;
   
}
.icons {
    margin-top: -60px;
    margin-left:50px;
   
    
}
.online {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.trial {
    margin-left: 20px;
    
} 
.courses {
    font-size: 14px;
    color: #96bb7c;
    
}
.star {
    display: flex;
    
    align-items: center;
    color:white;
    background-color: #2D4059 ;
    border-radius: 20px;
    width: 50px;
    height: 26px;
    font-size: 12px;
}
.star-image {
    width: 15px;
    height:15px;
    margin-right: 5px;
    margin-left: 5px;
}
.test {
  
}
.focus {
    font-size: 13px;
    color:#737373;
}
.subject {
    font-weight:700;
}
.money {
    display: flex;
}
.dollars {
    color: #BDBDBD;
    margin-right:10px;

}
.usdollars {
    color:#FFAB71;
}
.more {
    border:1px solid #96bb7c;
    background-color: #fff2f3;
    color:#96bb7c;
    border-radius: 50px;
    font-family: montserrat;
}
.vl {
    border-left: 6px solid blue;
    height: 500px;
}
.line5 {
    margin-top: 150px;
    margin-left: 150px;
    margin-right:150px;
    margin-bottom: 150px;
  
   
}
.div2 {
    display: flex;
    margin-top: 150px;
    
}
.whitegirl {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    align-items: center;
    
}
.man {
    border-radius: 50%;
    margin-bottom: 50px;
   display:block;
   margin-right: auto;
   margin-left: auto;

   
}
.slate {
    color:#737373;
    font-size: 14px;
    text-align: center;
}
.stars {
    display:inline;
    margin-right: auto;
    margin-left: auto;
}
.miles {
    font-family: 'Montserrat';

}
.miles ,design{
    color: #737373;
    font-weight: 700;
}
.regin {
    color: #252B42;
}

.cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.pic {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}
.card {
    display: flex;
    flex-direction: column;
   align-items: center;
   border-radius: 20px;
   box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
.name {
    color: #252B42;
}
.carrer {
    color: #737373;
}
.social-icon {
   margin-left: 5px; 
   
}
.content {
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFF2F3;
    margin-top: 150px;
   
}
.main {
    margin-bottom: 50px;  
    margin-top: 100px;
}
.forms {
    margin-bottom: 150px;
}
.tables {
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 150px;
}
td, th {
    text-align: left;
}
td {
    color: #737373;
    font-size: 14px;
}
.footer {
    display: flex;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 150px;
    align-items: center;
    justify-content: space-between;
}
.end {
    color: #737373;
    font-size: 14px;
}



